<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/myCss.css}" rel="stylesheet">
    <title>Адмін</title>
</head>
<body class="body">

<header th:insert="blocks/nav-panel.html :: nav-panel"></header>

<main class="border  m-5" style="background: rgba(58,69,79,0.8);border-radius: 35px;">
    <div class="container text-center" th:if="${message!=null}">
        <div class="row ">
            <div class="col">'
                <div class="border rounded p-4 w-50" style="background: white;" >
                    <label class="title text-danger fs-3" th:text="${message}"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card m-5">
                    <div class="card-header">
                        <label class="title">Створити форум для нового міста</label>
                    </div>
                    <form method="post" th:action="@{'/create-forum'}" enctype="multipart/form-data">
                        <div class="card-body">

                            <select class="form-select mb-5" name="city">
                                <option th:each="city : ${cities}"
                                        th:value="${city}"
                                        th:text="${city}"></option>
                            </select>
                            <input type="file" class="form-control" name="imageForum">
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 mt-5">
                <form method="post" th:action="@{'/forum/search'}">
                    <div class="d-flex">
                        <input placeholder="Введіть назву міста" type="text" name="dataSearch" class="form-control ms-4 me-4">
                        <button class="btn btn-primary me-2" type="submit">Search</button>
                    </div>
                </form>
                <div class="mt-3 mb-3 border rounded p-1" style="overflow-y: scroll;height: 600px; background: white;">
                    <div th:each="forum : ${forums}">

                        <div class="card  m-3">
                            <div class="card-header">
                                <label class="title" th:text="${forum.getCity()}"> </label>
                            </div>
                            <div class="card-body">
                                <div th:switch="${forum.getImage()}">


                                    <svg th:case="'Default'" style="width: 150px;height: 150px;margin:10px;"
                                         xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-card-image" viewBox="0 0 16 16">
                                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                    </svg>

                                    <image th:case="*"
                                           style="text-align: center;width: 150px;height: 150px;border-radius: 10px;border-style: solid;border-color: var(--bs-gray);margin: 10px;box-shadow: 5px 5px 10px var(--bs-gray-700);"
                                           th:src="*{'data:image/jpeg;base64,'+forum.getImage}"></image>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label class="form-label"
                                               th:text="'Кількість тем для обговорення: ' + ${forum.getCountDiscussions()}"></label>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="form-label"
                                               th:text="'Дата створення: ' + ${forum.getDateCreate()}"></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <form th:action="@{'/forum/remove/'+${forum.getId()}}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>