<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title th:text="${discussion.getName()}"></title>
</head>
<body style="background: url(https://img5.goodfon.ru/wallpaper/nbig/2/f2/beeple-by-beeple-unlimited-fog-city-gorod-chelovek-ulitsa-ma.jpg)  center;
    background-size: cover;">
<header th:insert="blocks/nav-panel.html :: nav-panel"></header>
<main class="border  m-5" style="background: rgba(58,69,79,0.8);border-radius: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-2 mt-3 mb-3 text-center" style="background: white;border-radius: 35px;">

                <label class="title form-label fs-3 bold ">Author</label>


                <div th:switch="${discussion.getCreator().getImage()}">


                    <svg th:case="'Default'" style="width: 150px;height: 150px;margin:10px;"
                         xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-card-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                    </svg>

                    <image th:case="*"
                           style="text-align: center;width: 150px;height: 150px;border-radius: 10px;border-style: solid;border-color: var(--bs-gray);margin: 10px;box-shadow: 5px 5px 10px var(--bs-gray-700);"
                           th:src="*{'data:image/jpeg;base64,'+discussion.getCreator().getImage}"></image>
                </div>
                <label class="form-label fs-4 m-3" th:text="${discussion.getCreator().getLogin()}"/>


            </div>
            <div class="col-10 m-3" style="background: white; border-radius: 35px;">
                <div th:each="messageS : ${discussion.getMessages()}">
                    <div class="border m-3" style="border-radius: 25px;background: #5e5ef3"
                         th:if="${messageS.getAuthor()==user}">
                        <div class="container " style="min-height: 100px;">
                            <div class="row d-flex flex-row ">
                                <div class="col-2">
                                    <label class="form-label bold fs-5" th:text="${messageS.getAuthor().getLogin()}"></label>
                                </div>
                                <div class="col-2">
                                    <label class="form-label bold fs-5" th:text="${messageS.getTimeFormated()}"></label>
                                </div>
                            </div>
                            <div class="row d-flex flex-row">
                                <div class="col mt-4">
                                    <label class="form-label bold fs-5" th:text="${messageS.getText()}"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="border m-3" style="border-radius: 25px;"
                         th:if="${messageS.getAuthor()!=user}">
                        <div class="container " style="min-height: 100px;">
                            <div class="row d-flex flex-row ">
                                <div class="col-2">
                                    <label class="form-label bold fs-5" th:text="${messageS.getAuthor().getLogin()}"></label>
                                </div>
                                <div class="col-2">
                                    <label class="form-label bold fs-5" th:text="${messageS.getTimeFormated()}"></label>
                                </div>
                            </div>
                            <div class="row d-flex flex-row">
                                <div class="col mt-4">
                                    <label class="form-label bold fs-5" th:text="${messageS.getText()}"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <form method="post" th:action="@{'/forum/'+${forum.getId()}+'/discussion/'+${discussion.getId()}+'/add-message'}">
                    <div class="border rounded-3  ms-3 me-3 mt-3 p-3 d-flex flex-row">
                        <input type="text" name="textMessage" class="form-control me-2"
                               placeholder="Введіть повідомлення...">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <label th:text="${textMessage}" class="form-label fs-6 text-danger  me-5 "></label>
                    </div>


                </form>

            </div>
        </div>
    </div>
<div id="element"> </div>
</main>
<script>
    window.onload=function(){
        window.scrollTo(0,document.body.scrollHeight);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>