<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Головна</title>
</head>
<body style="background: url(https://img5.goodfon.ru/wallpaper/nbig/2/f2/beeple-by-beeple-unlimited-fog-city-gorod-chelovek-ulitsa-ma.jpg) no-repeat center;
    background-size: cover;">
<header th:insert="blocks/nav-panel.html :: nav-panel"></header>
<main class="border  m-5" style="background: rgba(58,69,79,0.8);border-radius: 35px;min-height: 45rem;">
    <div class="container">
        <div class="row">
            <div class="col">
                <label style="margin-top: 200px "
                       class="form-label text-center text-white fs-3  bold">
        <pre>Цей сайт створений для підтриммання зв'язку з між групами людей у різних містах!
    Ви можете знайти форум свого міста та поспілкуватися з однодумцями на різні теми,
    створити дискуссію про проблемні питання у місті, тощо.
    Ви також можете перейти до форумів інших міст та поспілкуватися із жителями інших міст.
    Якщо форуму вашого міста ще немає, ви завжди можете написати на почту наших адміністраторів,
    вони швидко вирішать цю проблему!
    </pre>
                </label>
            </div>
        </div>
    </div>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>